/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    background: #29BA66;
    background: radial-gradient(circle, rgba(41, 186, 102, 1) 0%, rgba(39, 174, 96, 1) 100%);
}

/* Navbar */
.navbar {
  width: 100%;
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links li a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-links li a:hover,
.nav-links li a.active {
  color: #27AE60;
}

/* Cart Icon */
.cart-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #27AE60;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cart-icon:hover {
  background-color: #27AE60;
  color: #fff;
}

.cart-icon i {
  font-size: 16px;
  color: #27AE60;
  transition: color 0.3s ease;
}

.cart-icon:hover i {
  color: #fff;
}
 
/*  Table  */
.Tablesdiv{
    margin-top: 50px;
    margin-bottom: 50px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  table {
    width: 400px;
    height: 800px;
    border-collapse: collapse;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: 2px solid black;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
  }
  th {
    background-color: #2ECC71;
    color: white;
    font-size: 15px;
    border: 2px solid black;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #D9FAE7;
  }
  caption {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  .height-chart-button{
    border:0px solid black;
    background-color: transparent;
    color:white;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
  }
  .height-chart-button:hover{
    text-decoration: underline;
  }